<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body id="body-pd">
    <header class="header navbar navbar-expand-md pe-0" id="header">
        <div class="d-flex me-auto header_toggle">
            <i class="bi bi-list mx-4" id="header-toggle"></i>
        </div>
        <form class="d-flex ms-auto" method="post" action="/search">
            <input class="form-control" type="search" placeholder="Search" value="" aria-label="Search" name="search" />
            <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
        </form>
        <div class="btn-group ms-2 user-setting">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false">
                <img src="/images/Rectangle 62.png" class="rounded-circle" alt=""
                    style="width: 38px; height: 38px; object-fit: cover" />
                Unis Badri
            </button>
            <ul class="dropdown-menu dropdown-menu-sm-end">
                <li>
                    <button class="dropdown-item" type="button">Setting</button>
                </li>
                <li>
                    <button class="dropdown-item" type="button">Logout</button>
                </li>
            </ul>
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <table class="h-100">
                <tr>
                    <td style="vertical-align: top; width: 60px; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 63.png" />
                        <a href="/" class="nav_link"><img src="/images/Home.png" alt="" /></a>
                        <a href="/" class="nav_link active-menu"><img src="/images/Administrator.png" alt="" /></a>
                    </td>
                    <td style="vertical-align: top; background-color: #ffffff; padding: 0px">
                        <img class="nav_logo" src="/images/Rectangle 62.png" />
                        <p class="nav_title" style="margin-top: 17px">CARS</p>
                        <a href="" class="nav_title text-black bg-color-1">List Car</a>
                    </td>
                </tr>
            </table>
        </nav>
    </div>
    <div class="h-100 mx-4">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb pt-3">
                <li class="breadcrumb-item">
                    <a class="fw-bold text-black text-decoration-none" href="#">Cars</a>
                </li>
                <li class="breadcrumb-item active">List Car</li>
            </ol>
        </nav>

        <div class="pt-2 d-flex justify-content-between">
            <h4 class="h4 fw-bold">List Car</h4>
            <button class="btn btn-add-car float-end" onclick="location.href = '/addcar';"><i
                    class="bi bi-plus-lg me-2"></i>Add New Car</button>
        </div>

        <div class="py-3 d-flex justify-content-start">
            <!-- <button type="submit button active" class="btn btn-outline-primary">All</button> -->
            <a href="/">
                <button type="submit button active" class="btn btn-outline-primary">All</button>
            </a>
            <a href="/short/1/cari">
                <button type="submit button" name="size_id" value="1" class="btn btn-outline-secondary">Small</button>
            </a>
            <a href="/short/2/cari">
                <button type="submit button" name="size_id" value="3" class="btn btn-outline-secondary">Medium</button>
            </a>
            <a href="/short/3/cari">
                <button type="submit button" name="size_id" value="3" class="btn btn-outline-secondary">Large</button>
            </a>
        </div>

        <main>
            <div class="row g-4">
                <% cars.forEach((car)=> { %>
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="card h-100">
                            <div style="text-align: center;" class="img satu">
                                <img height="200px" src="/<%= car?.photo %>" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <p>
                                    <%= car?.name %> / Tipe Mobil
                                </p>
                                <h6 class="card-title">Rp <%= car?.rentPerDay %> /hari</h6>
                                <small><i class="bi bi-clock"></i>
                                    Updated At <%= car?.updatedAt %></small>

                                <div class="btn-card mt-3 d-flex justify-content-between">
                                    <a href="/cars/delete/<%= car?.id %>" class="btn btn-outline-danger"><i
                                            class="bi bi-trash3"></i>Delete</a>
                                    <a href="/cars/<%= car?.id %>/update" class="btn btn-success px-4"><b
                                            class="bi bi-trash3"></b>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

        </main>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                        crossorigin="anonymous"></script> -->
</body>

</html>